/* SCROLL BAR */
::-webkit-scrollbar {
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #ebebeb;
}
::-webkit-scrollbar-thumb {
    background: rgb(206, 206, 206);
    border-radius: 10px;
}

.main-container .back,
.main-container .profile-container,
.main-container .excel-content {
    padding: 1rem;
}
.main-container .chart-container {
    margin: 0 1rem;
}

.main-container .back {
    height: 100px;
    width: 100%;
    padding: 1rem;
    background: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #a3a3a3;
    position: fixed;
    padding-left: calc(280px + 1rem);
    left: 0;
    top: 0;
}
.main-container .back a {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.main-container .back h3,
.main-container .back i {
    font-size: 1rem;
    color: black;
}
.main-container .profile-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: #fff;
    color: black;
    padding-top: calc(100px + 1rem);
    margin-bottom: 1rem;
    gap: 0;
}
.profile-container .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}
.profile-container .profile .profile-detail h3,
.profile-container .profile .profile-detail h4 {
    color: black;
}
.profile-container .profile .profile-detail h3 {
    font-weight: bold;
}
.excel-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.excel-content h2 {
    font-size: 1.1rem;
}
.excel-content a,
.main-container .profile-container a {
    padding: 0.7rem 1rem;
    background: #e6f7f6;
    border-radius: 8px;
    color: #00a7a0;
    font-size: 0.85rem;
}
.excel-content a {
    border: 1px solid #00a7a0;
}

.chart-container,
.inner,
.legend,
.chart-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chart-container {
    /* width: max-content; */
    box-sizing: border-box;
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
}
.chart-title {
    text-align: center;
    gap: 0.3rem;
    margin-bottom: 1rem;
}
.chart-title h3 {
    font-weight: bold;
}
.chart-title h4 {
    width: 100%;
    color: rgb(73, 73, 73);
    word-spacing: 2px;
}
.chart-title h4 span {
    color: #00a7a0;
}
.inner {
    /* width: 900px; */
    height: 200px;
    padding: 0 1rem;
    overflow: auto;
    visibility: hidden;
    transition: visibility 0.3s;
}
.inner:hover {
    transition: visibility 0s 0.2s;
}
.inner:hover,
.inner:focus,
.chart {
    visibility: visible;
}
.chart {
    --activity: 0;
    width: calc(var(--activity) * 82px);
    min-width: 100%;
    height: 98%;
}
.legend {
    flex-direction: row;
}
.legend > span {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: 0.8rem;
}
span > span {
    display: inline-block;
    width: 30px;
    height: 5px;
    border-radius: 2px;
    margin-right: 1rem;
}
.legend span:nth-child(1) > span {
    background: #ccedec;
}
.legend span:nth-child(2) > span {
    background: #00a7a0;
}

/* Styling Ranking */
.ranking h3 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.grid-rank {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-rank > div {
    padding: 8px;
}

.rank-container {
    box-sizing: border-box;
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    margin: 1rem;
}

.rank-container span {
    float: right;
    color: #ffbb54;
    font-weight: bold;
}

.div-medal img {
    float: left;
    display: flex;
    align-items: center;
}

.div-medal hr {
    margin-top: 16px;
}

.medal {
    width: 40px;
    padding-right: 10px;
}
