* {
    /* background-color: #f6f6f6; */
    box-sizing: border-box;
}
body {
    background-color: #f6f6f6;
    font-family: "Poppins";
}
a {
    text-decoration: none;
    color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* NAVBAR =============================== */
.navbar {
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0;
}
.navbar .app-logo {
    width: 7rem;
}
.navbar .name {
    margin-left: 5px;
    padding-top: 5px;
}
.navbar .name .app-name {
    font-family: "nexa";
    font-size: 15px;
}
.navbar .tag-line {
    font-family: "nexa light";
    font-size: 10px;
    margin-top: -5px;
}

/* LOGIN ERROR ================================== */
.error {
    height: 60px;
    width: 40%;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(219, 164, 164);
    display: flex;
    align-items: center;
    justify-content: center;
}
.error h4 b {
    color: rgb(151, 46, 46);
}

.not-match {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 430px;
    visibility: hidden;
}
.alert {
    animation-name: error-login;
    animation-duration: 4s;
    animation-iteration-count: 1;
    color: #f2758f;
    background: #fce3e9;
}
.not-match div {
    font-size: 0.9rem;
    padding: 0.6rem 0;
}
@keyframes error-login {
    0% {
        visibility: visible;
    }
    99% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
.not-match b {
    color: rgb(151, 46, 46);
}

/* LOGIN STYLING ================================*/
.login {
    width: 40%;
    max-width: 480px;
    justify-content: center;
    padding: 2rem 2.2rem;
    background-color: white;
    font-family: "Poppins";
    border-radius: 10px;
}
.login h1 {
    font-size: 32px;
}
.login h5 {
    font-size: 16px;
}

/* LOGIN RADIO STYLE ====== */
.login .user {
    display: flex;
    justify-content: space-between;
}

.login .data-form {
    text-align: left;
}
.login .input {
    border-style: none;
    height: 48px;
}
.user > div {
    border: 2px solid #ffffff00;
}
.user > div.active {
    background: #e6f7f6;
    border: 2px solid #00a7a0;
}
input[type="radio"] {
    --active: #fff;
    --active-inner: #00a7a0;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #00a7a0;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}
input[type="radio"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
}
input[type="radio"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
input[type="radio"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
}
input[type="radio"]:checked:disabled {
    --b: var(--disabled-inner);
    --bc: var(--border);
}
input[type="radio"]:disabled + label {
    cursor: not-allowed;
}
input[type="radio"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
}
input[type="radio"]:focus {
    box-shadow: 0 0 0 var(--focus);
}
input[type="radio"]:not(.switch) {
    width: 21px;
}
input[type="radio"]:not(.switch):after {
    opacity: var(--o, 0);
}
input[type="radio"]:not(.switch):checked {
    --o: 1;
}
input[type="radio"] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
}
input[type="radio"] {
    border-radius: 50%;
}
input[type="radio"]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
}
input[type="radio"]:checked {
    --s: 0.5;
}
.check-member {
    font-size: 1rem;
    font-weight: 600;
    color: #00a7a0;
    background: #e6f7f6;
    padding: 0;
    border-radius: 8px;
    height: 0;
    opacity: 0;
    transition: all 0.1s;
}
.check-member.active {
    margin-top: 1rem;
    padding: 1rem;
    top: 0;
    opacity: 1;
    height: 100%;
}
.user div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.gender {
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
}
.login .remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login .wajib-isi {
    color: red;
    text-align: left;
}
.login .wajib-isi h4 {
    font-size: 14px;
}

.login .btn-login {
    /* background-color: ; */
    font-size: 15px;
    color: white;
    width: 100%;
    height: 48px;
    color: white;
}
.login .btn-login a {
    color: white;
}
.login .regist-link {
    margin-bottom: 20px;
}
.login .google {
    background-color: white;
    border-color: none;
    border-style: none;
    width: 100%;
    height: 48px;
}
.regist-link.my-mt-login.has-account {
    margin-bottom: 2rem;
}
