.main-container .content-list {
    width: 100%;
    padding: 1rem;
    padding-bottom: 100px;
}
.main-container .content-list .warning-container {
    width: max-content;
    color: #ffbb54;
    border-radius: 12px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.content-list form {
    margin-top: 2rem;
}
/* HEAD CONTENT STYLE ============================= */
.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem 1rem;
}
.head-content p {
    margin-bottom: 0;
}
.head-content .berhalangan {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.head-content .berhalangan label {
    margin-right: 0.5rem;
}
.info {
    height: 0;
    display: flex;
    width: max-content;
    gap: 0.7rem;
    align-items: center;
    border-radius: 12px;
    background: #fff9ee;
    border: 1px solid #ffbb54;
    opacity: 0;
}
.info.haid {
    height: max-content;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    opacity: 1;
    transition: opacity 0.3s;
}
.info h4 {
    text-align: left;
    width: max-content;
    color: #ffbb54;
    font-weight: bold;
}

/* CONTEN STYLE */
.content {
    padding: 1rem 3rem 1rem 1rem;
}
.content .container-amal .isi .kolom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content .container-amal .isi .kolom .amalan {
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 98%;
    padding: 1rem;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    margin-top: 1rem;
}
.container-amal .isi .kolom .amalan label {
    width: 100%;
}
.container-amal .isi .kolom .amalan label,
.container-amal .isi .kolom .amalan input {
    cursor: pointer;
}
/* POP UP BERHASIL DISIMPAN STYLE ======================== */
.content-list .pop-up {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #ccedec;
    padding: 1rem;
    border-radius: 0.5rem;
}
.pop-up .done-icon {
    color: red;
}
.pop-up.success {
    display: flex;
}

/* BOTTOM CONTENT ======================================= */
.sticky {
    position: fixed;
    background-color: red;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
}
.bot-content {
    display: flex;
    left: 280px;
    right: 0;
    bottom: 0;
    height: 4rem;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    border-top: 1px solid rgb(204, 204, 204);
}
.bot-content.submission,
.bot-content.warn {
    justify-content: flex-end;
}
.bot-content .simpan {
    font-size: 0.9rem;
    font-weight: bold;
    width: max-content;
    color: white;
    border-radius: 0.4rem;
    border-style: none;
    padding: 0.8rem 1.2rem;
}
.head-content,
.content {
    padding: 0;
}
.content-list input {
    width: 20px;
    height: 20px;
}
.content-list input:checked {
    background: greenyellow;
}
