.content-list {
    width: 100%;
    padding: 1rem;
}
.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.head-content p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.1rem;
}
.head-content .edit-amalan a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.9rem;
    background-color: #00a7a0;
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
}
.content {
    padding: 0rem 3rem 1rem 1rem;
}
label {
    margin-bottom: 0.7rem;
}
.content .container-amal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.content .container-amal .isi {
    margin-bottom: 2rem;
}
.content .container-amal .isi .kolom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.content .container-amal .isi .kolom .amalan {
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 98%;
    padding: 1rem;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}
.head-content,
.content {
    padding: 0;
}
