/* content */
.contenttop {
    position: sticky;
    top: 0;
    background: #ffffff;
    padding-top: 1rem;
    z-index: 1;
    margin-left: 280px; /*menyesuaikan mentor.template */
}
.info-all {
    width: 100%;
    height: 100%;
}
.info1 {
    position: relative;
    width: 98%;
    height: 110px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.contenttop .text1 img {
    position: relative;
    top: 0;
    left: 1rem;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.info1 .text1 {
    display: flex;
    gap: 2rem;
}
.info1 .text1 .group {
    position: relative;
    display: flex;
    flex-direction: column;
}
.info1 .text1 .group h6 {
    cursor: default;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.info1 .text1 .group p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
}
.info1 .text1 .group .input-code {
    position: relative;
    margin-top: 0.4rem;
    display: flex;
}
.info1 .text1 .group .input-code button {
    overflow: hidden;
    position: relative;
    background: #f8f8f8;
    outline: none;
    border: 1px solid #d7dcdb;
    border-radius: 20px;
    /* padding: 0.3rem; */
    width: 326px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 33px;
}
.input-code button p {
    position: relative;
    display: flex;
    justify-content: flex-start;
    top: 0;
    left: 0;
    padding: 0 1rem;
    width: 80%;
    height: 100%;
    font-size: 12px !important;
    line-height: 18px;
    color: #9ba8a4;
}
.input-code button span.text-salin {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 33px;
    font-weight: 500;
    font-size: 12px;
    line-height: 29px;
    color: #00a7a0;
}
.info1 .icon {
    position: relative;
    cursor: pointer;
    position: relative;
    top: 16.67%;
    color: #9ba8a4;
}
.info1 .icon .box-ubah {
    display: none;
    position: absolute;
    width: 129.57px;
    height: 109px;
    z-index: 99;
    top: 20%;
    left: -125px;
    background: #ffffff;
    border: 1px solid #c8cbd9;
    border-radius: 8px;
}
.info1 .icon .box-ubah.active {
    display: block;
}
.box-ubah .box-edit,
.box-ubah .box-hapus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
.box-ubah .box-edit {
    border-bottom: 1px solid #c4c4c4;
}
.box-ubah .box-edit:hover,
.box-ubah .box-hapus:hover {
    background: linear-gradient(
        rgba(196, 196, 196, 0.5),
        rgba(196, 196, 196, 0.5)
    );
}
.box-ubah h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}
/* info2 */

.info2 {
    position: relative;
    width: 100%;
    height: 60px;
    border-top: 1px solid #c8cbd9;
    border-bottom: 1px solid #c8cbd9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.info2 .text-all {
    text-align: center;
    max-width: 100%;
}
.info2 .text1,
.info2 .text2,
.info2 .text3 {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 100%;
    color: #00a7a0;
}
.info2 .active {
    color: #00a7a0;
    background: linear-gradient(rgba(230, 247, 246, 1), rgba(230, 247, 246, 1));
    border-bottom: 5px solid #00a7a0;
    font-weight: bold;
}
.info2 .text1 a,
.info2 .text2 a,
.info2 .text3 a {
    color: #00a7a0;
}

/* info3 */
.info3 {
    background: #f6f6f6;
    padding: 2rem 0rem;
    margin-top: 1rem;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info3 h1 {
    padding: 0 2rem;
    font-size: 20px;
    line-height: 30px;
    color: #38524a;
    font-weight: 600;
}
.info3 h1 span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #00a7a0;
    margin-left: 3rem;
}
.info3 a {
    padding: 0 2rem;
    text-decoration: none;
}
.info3 a button {
    cursor: pointer;
    color: #00a7a0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    border: 1px solid #00a7a0;
    box-sizing: border-box;
    border-radius: 8px;
    background: #e6f7f6;
}
/* info4 */
/* .info4 {
    background: #e5e5e5;
    position: relative;
    padding: 1rem 2rem;
    width: 100%;
    height: 116%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} */
/* .info4 .bar-chart1 {
    flex: 0 0 60%;
    width: 668px;
    height: 316px;
    border-radius: 16px;
    background: #ffffff;
    padding: 1rem;
}
.info4 .bar-chart2 {
    flex: 0 0 30%;
    width: 668px;
    height: 316px;
    border-radius: 16px;
    background: #ffffff;
}
.info4 .bar-chart3 {
    flex: 0 0 90%;
    margin: auto;
    width: 668px;
    height: 316px;
    border-radius: 16px;
    background: #fff;
} */

/* Design ScrollBar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar:hover {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(207, 207, 207);
    border-radius: 0 14px 14px 0;
    border: none;
}
/* Akhir Design ScrollBar */
